---
import type { Props } from '@astrojs/starlight/props';
import { Image } from 'astro:assets';
const { siteTitle, siteTitleHref } = Astro.props;

import dark from '../assets/nemo-logo-rusty-bright-nomargin.svg';
import light from '../assets/nemo-logo-rusty-nomargin.svg';
---

<a href={siteTitleHref} class="flex gap-0 content-center no-underline site-title-link">
  <Image
    format="svg"
    class="light:sl-hidden mr-2"
    alt=""
    src={dark}
  />
  <Image
    format="svg"
    class="dark:sl-hidden mr-2"
    alt=""
    src={light}
  />
	<span class="comfortaa content-center">
    <span class="font-semibold text-2xl site-title mx-1">Nemo</span>
    <span class="font-normal text-base mx-1 max-[500px]:hidden min-[500px]:visible">Graph Rule Engine</div>
	</span>
</a>

<style>
  .site-title-link {
		text-decoration: none;
		color: var(--sl-color-text-accent);
  }

	.comfortaa {
		font-family: "Comfortaa";
	}

	img {
		height: calc(var(--sl-nav-height) - 2 * var(--sl-nav-pad-y));
		width: auto;
		max-width: 100%;
		object-fit: contain;
		object-position: 0 50%;
	}
</style>





